<!-- public/partials/principal.html -->

<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">
    {{mensagem}}
</p>

<!-- ng-model e ng-repeat com x e y para evidenciar a aprendizagem -->
<div class="row">
    <div class="col-md-12">
        <form>

            <!-- Novidade! -->

             <div class="input-group">
                <span class="input-group-btn">
                    <a href="/fotos/new" class="btn btn-primary" type="button">
                        Nova foto
                    </a>
                </span>
                <input class="form-control" placeholder="filtrar pelo título da foto" ng-model="y" ng-model-options="{ debounce: 500 }">
            </div> 

            <!-- fim novidade! -->

        </form>
    </div> <!-- fim col-md-12 -->
</div> <!-- fim row -->
<!-- row com o campo de busca -->
<br/>
<!-- Deixa do x e y para aprendizagem -->
<div class="row">
    <!-- Adicionada classe do css/efeito.css -->
    <meu-painel class="col-md-2 painel-animado" ng-repeat="x in fotos | filter: y" titulo="{{x.titulo}}">
        <!--<img class="img-responsive center-block" src="{{x.url}}" alt="{{x.titulo}}">-->
        <minha-foto url="{{x.url}}" titulo="{{x.titulo}}"></minha-foto>
    </br/>
        <a class="btn btn-primary btn-block" href="/fotos/edit/{{x._id}}"> <!--x porque foi trocado a váriavel da foto no array-->
            Editar</a>
        <button class="btn btn-danger btn-block" ng-click="remover(x)">
            Remover</button> <!--x porque foi trocado a váriavel da foto no array-->

    </meu-painel>
</div><!-- fim row -->